<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>ContainerApp</PublishProvider>
    <ContainerResourceId>/subscriptions/f3858c35-d617-4463-9604-e5297e9c98a7/resourceGroups/UnoAuthentificationDemo_group/providers/Microsoft.ContainerRegistry/registries/Containerregistry012</ContainerResourceId>
    <ContainerResourceName>Containerregistry012</ContainerResourceName>
    <Subscription>Visual Studio Professional Subscription</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>containerregistry012.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <ContainerName>simple-hello-world-container</ContainerName>
    <EnvironmentName>managedEnvironment-UnoAuthentifica-9c9b</EnvironmentName>
    <SiteUrlToLaunchAfterPublish>https://authen.blackbeach-9aa9926c.westeurope.azurecontainerapps.io</SiteUrlToLaunchAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/f3858c35-d617-4463-9604-e5297e9c98a7/resourceGroups/UnoAuthentificationDemo_group/providers/Microsoft.App/containerapps/authen</ResourceId>
    <ResourceGroup>UnoAuthentificationDemo_group</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
  </PropertyGroup>
</Project>